{% extends '::base.html.twig' %}

{% block title %}
    Organisation
{% endblock %}

{% block body %}
<div class="bloc l-bloc bgc-white" id="bloc-2">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="text-center mg-sm">
					<strong>Notre Équipe</strong>
				</h2>
				<p class="sub-heading text-center">
					N&rsquo;hésitez pas à nous contacter par email !
				</p>
			</div>
		</div>
		<div class="row voffset-md">
			<div class="col-sm-3">
				<img class="img-circle center-block img-frame-rd mg-md" src="{{ asset('img/ract.jpg') }}" width="130" height="150" />
				<h3 class="text-center mg-sm">
					Sylvain RACT
				</h3>
				<p class="text-center">
					Coordinateur
				</p>
				<h5 class="mg-md tc-dark-cerulean text-center">
					<span class="feather-icon icon-mail"></span> <a href="mailto:bolbenes@telecom-paristech.fr">bolbenes@telecom-paristech.fr</a>
				</h5>
			</div>
			<div class="col-sm-3">
				<img class="img-circle center-block img-frame-rd mg-md" src="{{ asset('img/mehyaoui.jpg') }}" width="130" height="150" />
				<h3 class="text-center sm-shadow mg-sm">
					Selma MEYHAOUI
				</h3>
				<p class="text-center">
					Responsable du matériel
				</p>
				<h5 class="mg-md tc-dark-cerulean text-center">
					<span class="feather-icon icon-mail"></span> <a href="mailto:montane@telecom-paristech.fr">montane@telecom-paristech.fr</a>
				</h5>
			</div>
			<div class="col-sm-3">
				<img class="img-circle center-block img-frame-rd mg-md" src="{{ asset('img/montane.jpg') }}" width="130" height="150" />
				<h3 class="text-center sm-shadow mg-sm">
					Jonathan MONTANÉ
				</h3>
				<p class="text-center">
					Trésorière
				</p>
				<h5 class="mg-md tc-dark-cerulean text-center">
					<span class="feather-icon icon-mail"></span> <a href="mailto:mehyaoui@telecom-paristech.fr">mehyaoui@telecom-paristech.fr</a>
				</h5>
			</div>
			<div class="col-sm-3">
				<img class="img-circle center-block img-frame-rd mg-md" src="{{ asset('img/bolbenes.jpg') }}" width="130" height="150" />
				<h3 class="text-center sm-shadow mg-sm">
					Guillaume BOLBÈNES
				</h3>
				<p class="text-center">
					Responsable enseignement
				</p>
				<h5 class="mg-md tc-dark-cerulean text-center">
					<span class="feather-icon icon-mail"></span> <a href="mailto:ract@telecom-paristech.fr">ract@telecom-paristech.fr</a>
				</h5>
			</div>
		</div>
	</div>
</div>
<!-- bloc-2 END -->

<!-- bloc-3 -->
<div class="bloc l-bloc bgc-white" id="bloc-3">
	<div class="container bloc-md b-divider">
		<div class="row">
			<div class="col-sm-8 col-sm-85 col-sm-8486 col-sm-84858487 col-sm-8485848684858486 col-sm-6">
				<img class="img-frame pull-right" src="{{ asset('img/logo_telecom.gif') }}" width="250" height="250" />
			</div>
			<div class="col-sm-6">
				<h2 class="mg-lg">
					<strong>Notre École</strong>
				</h2>
				<h3 class="mg-sm">
					Télécom ParisTech
				</h3>
				<p class="mg-lg">
					Nous étudions tous en première année à Télécom ParisTech, la grande école des technologies de l'information et de la communication.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-3 END -->

{% endblock %}
