{% extends '::base.html.twig' %}

{% block title %}
    Soutien
{% endblock %}

{% block body %}
<!-- bloc-6 -->
<div class="bloc bgc-white l-bloc" id="bloc-6">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="mg-sm">
					<strong>Ils nous accordent leur confiance, et nous les en remercions</strong>
				</h2>
				<div class="divider-h">
					<span class="divider"></span>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-6 END -->

<!-- bloc-7 -->
<div class="bloc l-bloc bgc-white tc-black" id="bloc-7">
	<div class="container bloc-sm b-divider">
		<div class="row">
			<div class="col-sm-2">
				<img class="img-frame center-block" src="{{ asset('img/48984_1154668019_9624_n.jpg') }}" width="150" height="150" />
			</div>
			<div class="col-sm-10">
				<h2 class="mg-sm tc-dark-cerulean-2">
					Prof. Engelbert MEPHU NGUIFO
				</h2>
				<h3 class="mg-lg tc-gray ">
					Vice-Président du département de Mathématiques et d'Informatique<br />Université Blaise Pascal, Clermont-Ferrand.<br />Président de l'association ARBAF-Nord, Lille.<br />Président du Club des Africains et Amis de l'Agglomération de Lens-Liévin.
				</h3>
				<p class="mg-lg">
					Je soutiens fortement le projet "Clique à Bayangam". En effet un projet est d'autant plus beau et apprécié lorsque l'on prend part complètement à son cycle de vie (de la genèse à la mise en oeuvre).Natif de ce petit village de l'ouest du Cameroun, je perçois l'impact positif de ce projet auprès de jeunes enfants de Bayangam qui auront la chance d'y prendre part.La période des grandes vacances à Bayangam est un moment où on va retrouver dans le village de nombreux jeunes qui n'ont pas accès à des activités extra-scolaires durant cette période. C'est parfois pour certains un long moment de désoeuvrement, à errer dans les concessions à ne pas savoir quoi faire.Ce projet vient donc apporter une activité nouvelle, devant permettre à certains d'entre-eux d'une part, d'aller à la découverte d'une autre culture à travers la rencontre et le temps passé auprès de Guillaume, Jonathan, Selma et Sylvain et d'autre part d'acquérir des nouvelles connaissances via le soutien scolaire ou la découverte des technologies de l'information. Je ne saurais m'attarder sur les bienfaits en matière de formation que procurent ces technologies de l'information.Voilà pourquoi à l'initiative de Guillaume, Jonathan, Selma et Sylvain, j'ai souhaité être à leur côté pour les accompagner dans la réalisation de ce projet. Initiative qui a aussi reçu le soutien de l'association des ressortissants Bayangam et alliés de France (ARBAF) dont j'assure la présidence pour la région Nord de France.Le projet de Guillaume, Jonathan, Selma et Sylvain est par ailleurs soutenu par sa Majesté POUOKAM Georges Désiré, chef traditionnel du village Bayangam, et par l'abbé MELI Honoré qui offre les locaux de la mission catholique de Bayangam pour la réalisation du projet, et qui a accepté d'être le correspondant local pour la préparation et la réalisation du projet.Je finirais par cette phrase d'Albert PINE (auteur anglais décédé en 1951)"Ce que nous faisons pour nous-même disparait avec nous. Ce que nous faisons pour les les autres et pour le monde est immortel et demeure."
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-7 END -->

<!-- bloc-8 -->
<div class="bloc l-bloc bgc-white tc-black" id="bloc-8">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-sm-2">
				<img class="img-frame center-block " src="{{ asset('img/blanchet.JPG') }}" width="150" height="190" />
			</div>
			<div class="col-sm-10">
				<h2 class="mg-sm tc-dark-cerulean-2">
					Gerard BLANCHET
				</h2>
				<h3 class="mg-lg tc-gray ">
					Enseignant à Télécom Paristech
				</h3>
				<p class="mg-lg">
					Je soutiens fortement le projet "Clique à Bayangam". En effet un projet est d'autant plus beau et apprécié lorsque l'on prend part complètement à son cycle de vie (de la genèse à la mise en oeuvre).Natif de ce petit village de l'ouest du Cameroun, je perçois l'impact positif de ce projet auprès de jeunes enfants de Bayangam qui auront la chance d'y prendre part.La période des grandes vacances à Bayangam est un moment où on va retrouver dans le village de nombreux jeunes qui n'ont pas accès à des activités extra-scolaires durant cette période. C'est parfois pour certains un long moment de désoeuvrement, à errer dans les concessions à ne pas savoir quoi faire.Ce projet vient donc apporter une activité nouvelle, devant permettre à certains d'entre-eux d'une part, d'aller à la découverte d'une autre culture à travers la rencontre et le temps passé auprès de Guillaume, Jonathan, Selma et Sylvain et d'autre part d'acquérir des nouvelles connaissances via le soutien scolaire ou la découverte des technologies de l'information. Je ne saurais m'attarder sur les bienfaits en matière de formation que procurent ces technologies de l'information.Voilà pourquoi à l'initiative de Guillaume, Jonathan, Selma et Sylvain, j'ai souhaité être à leur côté pour les accompagner dans la réalisation de ce projet. Initiative qui a aussi reçu le soutien de l'association des ressortissants Bayangam et alliés de France (ARBAF) dont j'assure la présidence pour la région Nord de France.Le projet de Guillaume, Jonathan, Selma et Sylvain est par ailleurs soutenu par sa Majesté POUOKAM Georges Désiré, chef traditionnel du village Bayangam, et par l'abbé MELI Honoré qui offre les locaux de la mission catholique de Bayangam pour la réalisation du projet, et qui a accepté d'être le correspondant local pour la préparation et la réalisation du projet.Je finirais par cette phrase d'Albert PINE (auteur anglais décédé en 1951)"Ce que nous faisons pour nous-même disparait avec nous. Ce que nous faisons pour les les autres et pour le monde est immortel et demeure."
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-8 END -->

<!-- bloc-9 -->
<div class="bloc l-bloc bgc-white tc-black" id="bloc-9">
	<div class="container bloc-sm b-divider">
		<div class="row">
			<div class="col-sm-2">
				<img class="img-frame center-block" src="{{ asset('img/c3a2l.png') }}" width="150" height="150" />
			</div>
			<div class="col-sm-10">
				<h2 class="mg-sm tc-dark-cerulean-2">
					C3A2L
				</h2>
				<h3 class="mg-lg tc-gray ">
					Club des Africains et Amis de l'Agglomération de Lens et Liévin
				</h3>
				<p class="mg-lg">
					Présidée par Engelbert MEPHU NGUIFO, l'association a pour buts de : Favoriser l'entraide et l'intégration des ressortissants d'origine africaine, Promouvoir la culture africaine dans l'agglomération, Favoriser le lien entre les Africains et les autres ressortissants de l'agglomération.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-9 END -->

<!-- bloc-10 -->
<div class="bloc l-bloc bgc-white tc-black" id="bloc-10">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-sm-2">
				<img class="img-frame center-block   " src="{{ asset('img/arbaf-nord-logo.gif') }}" width="150" height="100" />
			</div>
			<div class="col-sm-10">
				<h2 class="mg-sm tc-dark-cerulean-2">
					l'ARBAF
				</h2>
				<h3 class="mg-lg tc-gray ">
					L'Association des Ressortissants Bayangam et Alliés en France
				</h3>
				<p class="mg-lg">
					Cette organisation, dont Mephu est un des représentants locaux, est un élément d'entre-aide, de repère et d'intégration pour la communauté de Bayangam en France. Garantir l'épanouissement culturel dans une logique d'ouverture et de solidarité, voilà le fil d'ariane de l'engagement de cette association de la loi 1901, présidée par M NGUENSU Justinl.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-10 END -->

<!-- bloc-11 -->
<div class="bloc l-bloc bgc-white tc-black" id="bloc-11">
	<div class="container bloc-sm b-divider">
		<div class="row">
			<div class="col-sm-2">
				<img class="img-frame center-block    " src="{{ asset('img/rotary.png') }}" width="150" height="150" />
			</div>
			<div class="col-sm-10">
				<h2 class="mg-sm tc-dark-cerulean-2">
					Le Rotary Club de Limoux
				</h2>
				<h3 class="mg-lg tc-gray ">
					Le Rotary Club limouxin
				</h3>
				<p class="mg-lg">
					Le Rotary Club de Limoux fait partie de ceux qui ont choisi d'aider à la réalisation de ce projet. Selma, la trésorière de l'équipe, est originaire de cette sous-préfecture Audoise où un certain nombre personnes ont eu la gentillesse et la curiosité de s'intéresser à "Clique à Bayangam". Ainsi, le bouche à oreille aidant, cette antenne locale d'une organisation internationalement connue a participé à sa manière à ce petit défi camerounais. Le site du Rotary Club explique les origines et les buts d'une organisation apolitique et non confessionnelle, crée par l'américain Paul HARRIS et obéissant à la devise: SERVIR D'ABORD. Plus qu'un réseau de contacts, il s'agit là d'un "vecteur d'action au sein de la société" , dont chacune des antennes locales peut prendre l'initiative de faire du mécénat, lorsqu'un projet solide, cohérent et altruiste est réalisé par un membre de l'organisation ou une personne méritante originaire du faubourg en question.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-11 END -->

<!-- bloc-12 -->
<div class="bloc l-bloc bgc-white tc-black" id="bloc-12">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-sm-2">
				<img class="img-frame center-block     " src="{{ asset('img/wisecomputers.png') }}" width="150" height="100" />
			</div>
			<div class="col-sm-10">
				<h2 class="mg-sm tc-dark-cerulean-2">
					Wise Computers
				</h2>
				<h3 class="mg-lg tc-gray ">
					Wise Computers
				</h3>
				<p class="mg-lg">
					La société wise computers contribue à notre mission en nous pretant 5 ordinateurs portables.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-12 END -->
{% endblock %}
