{% extends '::base.html.twig' %}

{% block title %}
    Ressources
{% endblock %}

{% block body %}
<!-- bloc-7 -->
<div class="bloc l-bloc bgc-white" id="bloc-7">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="text-center mg-md">
					<strong>Gallerie</strong>
				</h2>
			</div>
		</div>
		<div class="row voffset">
			<div class="col-sm-3">
				<a href="#" data-lightbox="{{ asset('img/1.jpg') }}" data-caption="Image description"><img src="{{ asset('img/1.jpg') }}" class="center-block" width="270" height="180" /></a>
			</div>
			<div class="col-sm-3">
				<a href="#" data-lightbox="{{ asset('img/2.jpg') }}" data-caption="Image description"><img src="{{ asset('img/2.jpg') }}" class="center-block" width="270" height="180" /></a>
			</div>
			<div class="col-sm-3">
				<a href="#" data-lightbox="{{ asset('img/3.jpg') }}" data-caption="Image description"><img src="{{ asset('img/3.jpg') }}" class="center-block" width="270" height="180" /></a>
			</div>
			<div class="col-sm-3">
				<a href="#" data-lightbox="{{ asset('img/4.jpg') }}" data-caption="Image description"><img src="{{ asset('img/4.jpg') }}" class="center-block" width="270" height="180" /></a>
			</div>
		</div>
		<div class="row voffset">
			<div class="col-sm-3">
				<a href="#" data-lightbox="{{ asset('img/placeholder-image.png') }}" data-caption="Image description"><img src="{{ asset('img/placeholder-image.png') }}" class="img-responsive" /></a>
			</div>
			<div class="col-sm-3">
				<a href="#" data-lightbox="{{ asset('img/placeholder-image.png') }}" data-caption="Image description"><img src="{{ asset('img/placeholder-image.png') }}" class="img-responsive" /></a>
			</div>
			<div class="col-sm-3">
				<a href="#" data-lightbox="{{ asset('img/placeholder-image.png') }}" data-caption="Image description"><img src="{{ asset('img/placeholder-image.png') }}" class="img-responsive" /></a>
			</div>
			<div class="col-sm-3">
				<a href="#" data-lightbox="{{ asset('img/placeholder-image.png') }}" data-caption="Image description"><img src="{{ asset('img/placeholder-image.png') }}" class="img-responsive" /></a>
			</div>
		</div>
	</div>
</div>
<!-- bloc-7 END -->

{% endblock %}
